name: Deploy Frontend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e

            echo ">>> Go to project directory"
            cd /opt/kahvedostum

            echo ">>> Pull latest code"
            git pull

            echo ">>> Stop & remove old container"
            docker stop kahvedostum-frontend || true
            docker rm kahvedostum-frontend || true

            echo ">>> Remove old image"
            docker rmi kahvedostum-frontend || true

            echo ">>> Build new image"
            docker build -t kahvedostum-frontend .

            echo ">>> Start new container"
            docker run -d -p 8080:80 --name kahvedostum-frontend kahvedostum-frontend

            echo ">>> Deployment completed"
